#link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border-width: 2px;
    border-color: chocolate;
    border-style: solid;
    padding: 10px;
    margin: 10px;
    background-color: bisque;
}